// COLORS
$white: #FFFFFF;
$lightBg: #fcfaf7;
$gray:#f0eae4;
$black: #2f2a24;
$dark: #666666;
$lightBrown: #f3efea;
$brown: #795548;
$borderClr: #f1ebe5;
$stoneClr: #eeeeee;
$thankaClr: #DCEDC8;
$metalClr: #fff3d1;
$blue: #007bff;

// FONTS STACKS
$font-family: "Montserrat",
sans-serif !important;

// BASE FONTS
$font-family-base: $font-family;
$font-size-base: 15px;
$font-color-base: $black;

$default-transition : all ease 0.5s;
