// COLORS
$white: #FFFFFF;
$offWhite: #F1F1F1;

$black: #000000;
$dark: #666666;
$light: #f4f7fa;
$primary:#0a58ca;
$secondary:#7c8db5;
$hover: #3785D0;
$gold: #e19818;

// FONTS STACKS
$font-family: "Montserrat",
sans-serif !important;

// BASE FONTS
$font-family-base: $font-family;
$font-size-base: 1rem;
$font-color-base: $black;

$default-transition : all ease 0.5s;