@import "../abstracts/variables";
@import "../base/mixins"; // Import mixins


.lang-switcher {
    display: flex;
    align-items: center;
    gap: 3px;

    a {
        border: 1px solid $dark;
        padding: 2px 4px !important;
        opacity: 0.35;
        background: offWhite;
        transition: $default-transition;

        &.active {
            opacity: 1;
            border-color: $hover;
            background: $white;
            box-shadow: var(--bs-box-shadow-sm) !important;
        }
    }
}