<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

<head>
    {{ partial "head.html" . }}
</head>

<!-- Determine page-specific class -->
{{ $class := "" }}
{{ if eq .RelPermalink ("/" | relLangURL) }}
{{ $class = "index" }}
{{ else if strings.HasPrefix .RelPermalink ("/discover/" | relLangURL) }}
{{ $class = "discover" }}
{{ else if strings.HasPrefix .RelPermalink ("/journeys/" | relLangURL) }}
{{ $class = "journeys" }}
{{ else if strings.HasPrefix .RelPermalink ("/works/" | relLangURL) }}
{{ $class = "works" }}
{{ else if strings.HasPrefix .RelPermalink ("/profile/" | relLangURL) }}
{{ $class = "profile" }}
{{ end }}

<body class="{{ $class }}">
    <div class="app-screen">
        {{ partial "header.html" . }}


        {{ block "main" . }}{{ end }}


        {{ partial "footer.html" . }}

    </div>
    <!-- jQuery v4.0.0-->
    <script src="{{ "js/jquery-4.0.0.min.js" | relURL }}"></script>

    <!-- Fancybox v4.0.31 -->
    <script src="{{ "js/fancybox.min.js" | relURL }}"></script>

    <!-- Custom JS -->
    <script src="{{ "js/custom.js" | relURL }}"></script>

</body>

</html>