<header>
    <!-- Header -->
    <div class="app-header">
        <div class="header-left">
            {{ if .Params.back }}
            <a href="{{ .Params.back | relLangURL }}" class="back-btn">
                <i class="fa-solid fa-arrow-left"></i>
            </a>
            {{ end }}

            <!-- Show headerTitle if exists, otherwise page Title -->
            <h1>{{ .Params.headerTitle | default .Title }}</h1>
        </div>

        <a href="{{ "/profile/" | relLangURL }}" class="avatar-icon">
            <img src="{{ (.Params.image | default "/img/logo.png") | relURL }}" alt="{{ .Title }}">
        </a>
    </div>
</header>